$scrollbar-size: 17px;
$slider-color:     #6C4EA9;
$track-color:    #E4E5F9;
$slider-border-color: #1D2F5D;
$border-radius: 7px;
// firefox
* {
    scrollbar-width: thin;
    scrollbar-color: $slider-color $track-color;
}
// other browsers
*::-webkit-scrollbar {
    height: $scrollbar-size;
    width: 10px;
}
// кастомизация фона/пути под ползунком
*::-webkit-scrollbar-track {
    width: 5px;
    background: $track-color;
    // border-radius: $border-radius;
}
// кастомизация ползунка
*::-webkit-scrollbar-thumb {
    background-color: $slider-color;
    border-radius: $border-radius;
    border: calc($scrollbar-size / 4) solid $slider-border-color;
    transition: background-color 0.2s; 
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #563e85;
    border: calc($scrollbar-size / 4) solid #17264c 
}
*::-webkit-scrollbar-track:hover {
    background-color: #9499f8;
}

